* {
  margin: 0;
  box-sizing: border-box;
}

nav {
  background-color: palegoldenrod;
}

.container-fluid {
  background-color: palegoldenrod;
}

.capture-homepage {
  background-image: url(../images/secondlaptop.jpg);
  background-size: cover;
  height: 500px;
  border: 1px solid white;
  color: orangered;
  text-align: center;
  padding: 150px;
}

.plan-course {
  background-color: rgb(243, 90, 34);
  height: 500px;
}

select {
  background-color: rgb(207, 70, 20);
  color: white;
  height: 50px;
  width: 300px;
}

.search-button {
  float: right;
}

.line {
  background-color: green;
  width: 40px;
  height: 3px;
  border-radius: 8px;
}

.orange-line {
  background-color: orangered;
  width: 50px;
  height: 3px;
  border-radius: 8px;
}

.form-select {
  background-color: rgb(167, 78, 46);
  color: white;
}

.white-line {
  background-color: whitesmoke;
  width: 258px;
  height: 3px;
  border-radius: 8px;
}

.info {
  height: 30px;
}

.icon {
  margin-right: 20px;
}

.footer {
    background-color: rgb(219, 215, 163);
    padding: 20px;
  }
  
  .copyright {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
  }